@import 'mixins.scss';

.wrapper{
    margin:50px;
    text-align: center;

}

.logo{
    width: 60vw;
    @include tablet{
        width: 40vw;
        
    }
    @include desktop{
        width: 25vw;   
    }
}



