body{
    margin-top: 200px;
    background-color: black;
    color: white;
}


.characterCard{
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    width: 150px;
}

.characters{
    height: 70px;
    width: 150px;
    background-color: blue;
}

