@import 'mixins.scss';

.character__detail{
    width: 70vw;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        width: 60vw;
    }
    @include desktop{
        width: 50vw;   
    }
    &__logo{
        padding-bottom: 25px;
        width: 40vw;
        @include tablet{
            width: 60vw;
            
        }
        @include desktop{
            width: 40vw;   
        }
    }
    &__return{
        font-size: 20px;
        margin-bottom: 15px;
        padding: 5px;
        border: 2px solid cadetblue;
    }
    &__content{ 
        box-sizing: border-box;
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: cadetblue;
        text-align: left;
        font-size: 13px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        color: white;
        @include tablet{
            flex-direction: row;
        }
        @include desktop{
            flex-direction: row;
            font-size: 20px;
        }
        &__img{
            width: 40vw;
            margin: auto;
            @include tablet{
                width: 25vw;
                padding: 10px;
            }
            @include desktop{
                width: 20vw;
                padding: 30px;
            }
        }
        &__properties{
            background-color: cadetblue;
            text-align: left;
            padding: 10px;
            @include tablet{
                padding: 30px;
            }
            @include desktop{
                padding: 30px;
            }
        }   
    }
}
