@import 'mixins.scss';

.character__detail{
    width: 70vw;
    margin: auto;
    color: white;
    text-align: center;
    @include tablet{
        width: 60vw;
    }
    @include desktop{
        width: 50vw;   
    }
    .logo{
        padding-bottom: 25px;
    }
    .card__btn__return{
        font-size: 20px;
        text-align: right;
    }
    &__content{ 
        box-sizing: border-box;
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: cadetblue;
        text-align: left;
        font-size: 13px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        color: white;
        @include tablet{
            flex-direction: row;
        }
        @include desktop{
            flex-direction: row;
        }
        &__img{
            padding: 10px;
            width: 40vw;
            margin: auto;
            @include tablet{
                width: 40vw;
                height: auto;
                padding: 30px;
            }
            @include desktop{
                width: 20vw;
                height: auto;
                padding: 30px;
            }
        }
        &__properties{
            background-color: cadetblue;
            text-align: left;
            padding: 10px;
            @include tablet{
                padding: 30px;
            }
            @include desktop{
                padding: 30px;
            }
        }   
    }
}
