@import 'mixins.scss';

.characters__rendered{
    margin: auto;
    width: 85vw;
    display: flex;
    flex-direction: column;
   
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    @include desktop{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}