@import 'mixins.scss';

.character__card{
    width: 70vw;
    background-color: cadetblue;
    text-align: left;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: white;
    .character__img{
        width: 100%;
        margin:0;
    }
    @include tablet{
        width: 40vw;
        
    }
    @include desktop{
        width: 20vw;   
    }
}






