.form__input-text{
    width: 35vw;
    height: 5vh;
    margin: 20px;
    border: 2px solid  cadetblue;
    background-color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: white;
}